<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Add Dragon</title>
        <link rel="stylesheet" href="..public/img/styles.css"></link>
    </head>
   <body>
        <form id="add_dragon_form" method="post"> 
            <input type="text" name="dragonName" placeholder="enter dragon name">
            <input type="text" name="rider" placeholder="enter rider">
            <input type="text" name="identification" placeholder="enter identification">
            <input type="text" name="house" placeholder="enter house">
            <input type="submit" value="Create Dragon">
        </form>
    </body>
</html>
