<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Stats</title>
        <link rel="stylesheet" href="..public/img/styles.css"></link>
    </head>
   <body>
        <h1 id="stats_h1">Number of Dragons you Added this Session</h1>
        <h1 id="dragons_added">{{numberOfDragonsAdded}}</h1>
    </body>
</html>
